Node-RED flows/flows.json
[{"id":"215fc2e682064be3","type":"tab","label":"iComm AC Control","disabled":false,"info":"","env":[]},{"id":"52a12e6c6651a89f","type":"string-to-hex","z":"215fc2e682064be3","name":"","x":870,"y":500,"wires":[["79e283bc27b5e9da","a9961352490abce1","4f69f483251f89c1","d5d3aebda0b303e8"]]},{"id":"79e283bc27b5e9da","type":"tcp out","z":"215fc2e682064be3","name":"","host":"192.168.1.10","port":"20000","beserver":"client","base64":false,"end":false,"tls":"","x":1270,"y":500,"wires":[]},{"id":"ba23c778c97fed6e","type":"inject","z":"215fc2e682064be3","name":"hello","props":[{"p":"payload"}],"repeat":"30","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"785648001100010000000a0053757065727669736f722056352e3431480000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000","payloadType":"str","x":810,"y":220,"wires":[["e874423b4a72f496"]]},{"id":"5a75a24f75c8da2b","type":"change","z":"215fc2e682064be3","name":"turn off BTP Office AC","rules":[{"t":"set","p":"payload","pt":"msg","to":"070039010000ffffffff0100000032000100000000000000820200003207000506000200af0047576573742052656172205765656b6c790000000000171101c400020180002701ffffffff2801ffffffff00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000078560d00070039010000ffffffff0100000032000100000000000000820200003207000506000200af0047576573742052656172205765656b6c790000000000171101c400020180002701ffffffff2801ffffffff00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000078560d00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":340,"wires":[["52a12e6c6651a89f"]],"info":"deletes West Rear Weekly schedule"},{"id":"bca2440a5114db22","type":"change","z":"215fc2e682064be3","name":"turn on BTP Office AC","rules":[{"t":"set","p":"payload","pt":"msg","to":"070065010000ffffffff0100000032000100000000000000820200003207000506000200af0047576573742052656172205765656b6c790000000000171101c400020180002701ffffffff2801ffffffff000000006801fc034407c80ae40c6810841208162418a81bc41d48216423e8260000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000078560d00070065010000ffffffff0100000032000100000000000000820200003207000506000200af0047576573742052656172205765656b6c790000000000171101c400020180002701ffffffff2801ffffffff000000006801fc034407c80ae40c6810841208162418a81bc41d48216423e8260000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000078560d00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":300,"wires":[["52a12e6c6651a89f"]],"info":"creates West Rear Weekly schedule"},{"id":"1513dee64f535f2e","type":"switch","z":"215fc2e682064be3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":320,"wires":[["bca2440a5114db22"],["5a75a24f75c8da2b"]]},{"id":"c2db49e39b14aeef","type":"ha-mqtt-switch","z":"215fc2e682064be3","server":"4bbd32ecc75de9a7","device":"7","name":"BTP Office Areas Mode","config":"{\"icon\":\"mdi:power\",\"optimistic\":\"true\",\"retain\":\"false\"}","x":230,"y":320,"wires":[["1513dee64f535f2e"]]},{"id":"e874423b4a72f496","type":"string-to-hex","z":"215fc2e682064be3","name":"","x":1010,"y":220,"wires":[["6bcfc1c3cac23552"]]},{"id":"6bcfc1c3cac23552","type":"delay","z":"215fc2e682064be3","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1170,"y":220,"wires":[["79e283bc27b5e9da"]]},{"id":"a9961352490abce1","type":"debug","z":"215fc2e682064be3","name":"debug 20","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1040,"y":540,"wires":[]},{"id":"d5d3aebda0b303e8","type":"delay","z":"215fc2e682064be3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":980,"y":420,"wires":[["304198e1bb67722f"]]},{"id":"4f69f483251f89c1","type":"delay","z":"215fc2e682064be3","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":980,"y":380,"wires":[["304198e1bb67722f"]]},{"id":"0f2920ac4c880996","type":"debug","z":"215fc2e682064be3","name":"debug 22","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":960,"y":700,"wires":[]},{"id":"7c7599fc80f2fb30","type":"string-to-hex","z":"215fc2e682064be3","name":"","x":990,"y":800,"wires":[["79e283bc27b5e9da"]]},{"id":"7a37902aa19004d7","type":"function","z":"215fc2e682064be3","name":"convert to hex value Zone 1","func":"function temperatureToPacket(msg) {\n    // Input validation\n    const temp = parseFloat(msg.payload);\n    if (isNaN(temp) || temp < 15 || temp > 30) {\n        msg.error = \"Temperature must be between 15-30°C\";\n        return msg;\n    }\n\n    // Extract whole and decimal parts\n    const wholePart = Math.floor(temp);\n    let decimalPart = Math.round((temp - wholePart) * 10) / 10;\n\n    // Special case handling for 15.0 and 15.5\n    if (wholePart === 15) {\n        if (decimalPart === 0) {\n            // 15.0 uses 2e40\n            const tempHex = \"0000000000002e40\";\n            return buildOutput(tempHex, temp, msg);\n        } else if (decimalPart === 0.5) {\n            // 15.5 uses 2f40\n            const tempHex = \"0000000000002f40\";\n            return buildOutput(tempHex, temp, msg);\n        }\n    }\n\n    // Calculate the base hex value for temperatures 16.0-30.0\n    // 16.0 starts at 0x30, then increments\n    const baseHex = (0x30 + (wholePart - 16)).toString(16);\n\n    // Define the prefix patterns for decimal parts\n    const decimalPrefixes = {\n        0: \"000000000000\",\n        1: \"999999999919\",\n        2: \"333333333333\",\n        3: \"666666666666\",\n        4: \"666666666666\",\n        5: \"000000000080\",\n        6: \"9a9999999999\",\n        7: \"3333333333b3\",\n        8: \"6666666666c6\",\n        9: \"9999999999d9\"\n    };\n\n    // Get the prefix for this decimal part\n    const prefix = decimalPrefixes[Math.round(decimalPart * 10)];\n\n    // Construct the temperature hex string\n    const tempHex = prefix + baseHex + \"40\";\n\n    return buildOutput(tempHex, temp, msg);\n}\n\nfunction buildOutput(tempHex, temp, msg) {\n    // Construct the full packet\n    const packet = \"78563f000600120d0000313a3200617475732028312920506f6940337e56414c554500324039367e4f75747075743e2c2053796e63496e666f5302\" + tempHex;\n\n    // Set the output\n    msg.payload = packet;\n    msg.temperature = temp;\n    \n    return msg;\n}\n\n// Process the incoming message\nreturn temperatureToPacket(msg);","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":1120,"wires":[[]]},{"id":"76025ca74d7ab00b","type":"inject","z":"215fc2e682064be3","name":"23.5 test","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"78563f00060020090000313a320053657276696365200000fc3940337e56414c55450000494f53657276696365203139322e3136382e312e313002cccccccccccc3740","payloadType":"str","x":940,"y":840,"wires":[["7c7599fc80f2fb30"]]},{"id":"82d22712c7d306e3","type":"function","z":"215fc2e682064be3","name":"convert to hex value Zone 2","func":"function temperatureToPacket(msg) {\n    // Input validation\n    const temp = parseFloat(msg.payload);\n    if (isNaN(temp) || temp < 15 || temp > 30) {\n        msg.error = \"Temperature must be between 15-30°C\";\n        return msg;\n    }\n\n    // Extract whole and decimal parts\n    const wholePart = Math.floor(temp);\n    let decimalPart = Math.round((temp - wholePart) * 10) / 10;\n\n    // Special case handling for 15.0 and 15.5\n    if (wholePart === 15) {\n        if (decimalPart === 0) {\n            // 15.0 uses 2e40\n            const tempHex = \"0000000000002e40\";\n            return buildOutput(tempHex, temp, msg);\n        } else if (decimalPart === 0.5) {\n            // 15.5 uses 2f40 for Zone 2 - different from Zone 1\n            const tempHex = \"0000000000002f40\";\n            return buildOutput(tempHex, temp, msg);\n        }\n    }\n\n    // Calculate the base hex value for temperatures 16.0-30.0\n    // 16.0 starts at 0x30, then increments\n    const baseHex = (0x30 + (wholePart - 16)).toString(16);\n\n    // Define the prefix patterns for decimal parts\n    const decimalPrefixes = {\n        0: \"000000000000\", // For .0 temperatures\n        5: \"000000000080\"  // For .5 temperatures\n    };\n\n    // Get the prefix for this decimal part\n    const prefix = decimalPrefixes[Math.round(decimalPart * 10)];\n    if (!prefix) {\n        msg.error = \"Temperature must be in .0 or .5 increments\";\n        return msg;\n    }\n\n    // Construct the temperature hex string\n    const tempHex = prefix + baseHex + \"40\";\n\n    return buildOutput(tempHex, temp, msg);\n}\n\nfunction buildOutput(tempHex, temp, msg) {\n    // Construct the full packet for Zone 2\n    const packet = \"78563f0006001d170000313a3200617475732028312920506f6940357e56414c554500324039367e4f75747075743e2c2053796e63496e666f5302\" + tempHex;\n\n    // Set the output\n    msg.payload = packet;\n    msg.temperature = temp;\n    msg.zone = 2;\n    \n    return msg;\n}\n\n// Process the incoming message\nreturn temperatureToPacket(msg);","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":1160,"wires":[[]]},{"id":"5a35c7631a3a92b4","type":"function","z":"215fc2e682064be3","name":"convert to hex value Multi-zone","func":"function temperatureToPacket(msg) {\n    // Input validation\n    const temp = parseFloat(msg.payload);\n    if (isNaN(temp) || temp < 15 || temp > 30) {\n        msg.error = \"Temperature must be between 15-30°C\";\n        return msg;\n    }\n\n    // Validate AHU\n    if (!msg.ahu || !Number.isInteger(msg.ahu)) {\n        msg.error = \"AHU number must be specified\";\n        return msg;\n    }\n\n    // Default to zone 1 if not specified\n    if (!msg.zone) {\n        msg.zone = 1;\n    }\n\n    // Validate increment\n    const decimalPart = Math.round((temp - Math.floor(temp)) * 10) / 10;\n    if (![0, 0.5, 0.1, 0.2, 0.3, 0.4, 0.6, 0.7, 0.8, 0.9].includes(decimalPart)) {\n        msg.error = \"Temperature must be in .0, .1, .2, .3, .4, .5, .6, .7, .8, or .9 increments\";\n        return msg;\n    }\n\n    // Extract whole part\n    const wholePart = Math.floor(temp);\n\n    try {\n        // Get AHU/Zone specific header pattern\n        const header = getHeaderForAhuZone(msg.ahu, msg.zone);\n\n        // Define decimal prefixes (from your previous AHU 5 zone 1 logic)\n        // For AHU 3, the decimal codes are clearly needed!\n        const decimalPrefixes = {\n            0: \"000000000000\",\n            1: \"999999999919\",\n            2: \"333333333333\",\n            3: \"666666666666\",\n            4: \"666666666666\",\n            5: \"000000000080\",\n            6: \"9a9999999999\",\n            7: \"3333333333b3\",\n            8: \"6666666666c6\",\n            9: \"9999999999d9\"\n        };\n\n        // Special case handling for 15.0 and 15.5\n        if (wholePart === 15) {\n            if (decimalPart === 0) {\n                const tempHex = \"0000000000002e40\";\n                return buildOutput(tempHex, temp, msg, header);\n            } else if (decimalPart === 0.5) {\n                const tempHex = \"0000000000002f40\";\n                return buildOutput(tempHex, temp, msg, header);\n            } else {\n                msg.error = \"15.x only supports .0 and .5 increments\";\n                return msg;\n            }\n        }\n\n        // Calculate the base hex value for temperatures 16.0-30.0\n        // 16.0 starts at 0x30, then increments\n        const baseHex = (0x30 + (wholePart - 16)).toString(16);\n\n        // Get the prefix for this decimal part\n        const decimalKey = Math.round(decimalPart * 10);\n        const prefix = decimalPrefixes[decimalKey];\n\n        if (!prefix) {\n            msg.error = \"Unsupported decimal increment for this AHU\";\n            return msg;\n        }\n\n        // Construct the temperature hex string\n        const tempHex = prefix + baseHex + \"40\";\n\n        return buildOutput(tempHex, temp, msg, header);\n\n    } catch (error) {\n        msg.error = error.message;\n        return msg;\n    }\n}\n\nfunction getHeaderForAhuZone(ahu, zone) {\n    const headers = {\n        3: {\n            1: \"78563f000600f0040000313a3400536572766963652000008c2240337e56414c55450000494f53657276696365203139322e3136382e312e313002\"\n        },\n        5: {\n            1: \"78563f000600120d0000313a3200617475732028312920506f6940337e56414c554500324039367e4f75747075743e2c2053796e63496e666f5302\",\n            2: \"78563f0006001d170000313a3200617475732028312920506f6940357e56414c554500324039367e4f75747075743e2c2053796e63496e666f5302\",\n            3: \"78563f000600ec000000313a3200617475732028312920506f6940377e56414c554500324038327e4f75747075743e2c2053796e63496e666f5302\"\n        },\n        6: {\n            1: \"78563f000600fc000000313a3200536572766963652000008c224031347e56414c5545003a20526561645772697465202d2057726974696e672002\"\n        },\n        7: {\n            1: \"78563f00060045000000313a3200536572766963652000008c224032327e56414c5545003a20526561645772697465202d2057726974696e672002\"\n        },\n        8: {\n            1: \"78563f0006002c000000313a3100536572766963652000008c2240357e56414c55450000494f53657276696365203139322e3136382e312e313002\"\n        },\n        9: {\n            1: \"78563f0006004b000000313a3100536572766963652000008c224031307e56414c554500494f53657276696365203139322e3136382e312e313002\"\n        }\n    };\n\n    if (!headers[ahu]) {\n        throw new Error(`Invalid AHU ${ahu}`);\n    }\n\n    if (!headers[ahu][zone]) {\n        throw new Error(`AHU ${ahu} only has zone ${Object.keys(headers[ahu]).length}`);\n    }\n\n    return headers[ahu][zone];\n}\n\nfunction buildOutput(tempHex, temp, msg, header) {\n    // Construct the full packet\n    const packet = header + tempHex;\n\n    // Set the output\n    msg.payload = packet;\n    msg.temperature = temp;\n    msg.lastModified = \"2025-05-17 04:40:46\";  // Current UTC time\n    msg.modifiedBy = \"user\";           // Current user\n\n    return msg;\n}\n\n// Process the incoming message\nreturn temperatureToPacket(msg);","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":800,"wires":[["7c7599fc80f2fb30","0f2920ac4c880996"]]},{"id":"524209374edc43c0","type":"change","z":"215fc2e682064be3","name":"set ahu 5","rules":[{"t":"set","p":"ahu","pt":"msg","to":"5","tot":"num"},{"t":"set","p":"zone","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":740,"wires":[["5a35c7631a3a92b4"]]},{"id":"925d62408ad29942","type":"ha-mqtt-number","z":"215fc2e682064be3","server":"4bbd32ecc75de9a7","device":"7","name":"BTP Office Target Temp Number","config":"{\"icon\":\"phu:thermostat-v2\",\"optimistic\":\"true\",\"retain\":\"true\",\"min\":\"15\",\"max\":\"30\",\"step\":\"1\",\"device_class\":\"temperature\"}","x":230,"y":740,"wires":[["524209374edc43c0"]]},{"id":"14c0fe6ad981e74d","type":"change","z":"215fc2e682064be3","name":"set ahu 9","rules":[{"t":"set","p":"ahu","pt":"msg","to":"9","tot":"num"},{"t":"set","p":"zone","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":800,"wires":[["5a35c7631a3a92b4"]]},{"id":"b10ca3519865b89c","type":"ha-mqtt-number","z":"215fc2e682064be3","server":"4bbd32ecc75de9a7","device":"7","name":"Kitchen Target Temp Number","config":"{\"icon\":\"phu:thermostat-v2\",\"optimistic\":\"true\",\"retain\":\"false\",\"min\":\"15\",\"max\":\"30\",\"step\":\"1\",\"device_class\":\"temperature\"}","x":220,"y":800,"wires":[["14c0fe6ad981e74d"]]},{"id":"57cb31499d2eaa94","type":"ha-mqtt-number","z":"215fc2e682064be3","server":"4bbd32ecc75de9a7","device":"7","name":"Centre Aud Target Temp Number","config":"{\"icon\":\"phu:thermostat-v2\",\"optimistic\":\"true\",\"retain\":\"false\",\"min\":\"15\",\"max\":\"30\",\"step\":\"1\",\"device_class\":\"temperature\"}","x":240,"y":860,"wires":[["494bfe9941e88d06"]]},{"id":"494bfe9941e88d06","type":"change","z":"215fc2e682064be3","name":"set ahu 7","rules":[{"t":"set","p":"ahu","pt":"msg","to":"7","tot":"num"},{"t":"set","p":"zone","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":860,"wires":[["5a35c7631a3a92b4"]]},{"id":"6bde25d25fb5bc83","type":"ha-mqtt-number","z":"215fc2e682064be3","server":"4bbd32ecc75de9a7","device":"7","name":"West Aud Target Temp Number","config":"{\"icon\":\"phu:thermostat-v2\",\"optimistic\":\"true\",\"retain\":\"true\",\"min\":\"15\",\"max\":\"30\",\"step\":\"1\",\"device_class\":\"temperature\"}","x":230,"y":920,"wires":[["2cc74ad0fab394aa"]]},{"id":"2cc74ad0fab394aa","type":"change","z":"215fc2e682064be3","name":"set ahu 6","rules":[{"t":"set","p":"ahu","pt":"msg","to":"6","tot":"num"},{"t":"set","p":"zone","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":920,"wires":[["5a35c7631a3a92b4","0129ab2906d33c6f"]]},{"id":"2d9e91267083ffb5","type":"ha-mqtt-number","z":"215fc2e682064be3","server":"4bbd32ecc75de9a7","device":"7","name":"East Aud Target Temp Number","config":"{\"icon\":\"phu:thermostat-v2\",\"optimistic\":\"true\",\"retain\":\"true\",\"min\":\"15\",\"max\":\"30\",\"step\":\"1\",\"device_class\":\"temperature\"}","x":230,"y":980,"wires":[["413129c0023d0255"]]},{"id":"413129c0023d0255","type":"change","z":"215fc2e682064be3","name":"set ahu 8","rules":[{"t":"set","p":"ahu","pt":"msg","to":"8","tot":"num"},{"t":"set","p":"zone","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":980,"wires":[["5a35c7631a3a92b4","4c5ae88be52ad2b8"]]},{"id":"ae271789fa36f3b8","type":"link out","z":"215fc2e682064be3","name":"get east sensor value","mode":"link","links":["dc5462ba518be624"],"x":865,"y":980,"wires":[]},{"id":"4c5ae88be52ad2b8","type":"delay","z":"215fc2e682064be3","name":"","pauseType":"delay","timeout":"9","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":620,"y":980,"wires":[["ae271789fa36f3b8","7a28bb1af07d43b6"]]},{"id":"dd3c152f59ea18aa","type":"link out","z":"215fc2e682064be3","name":"get west sensor value","mode":"link","links":["1b3e3ba20ffb87ff"],"x":865,"y":920,"wires":[]},{"id":"0129ab2906d33c6f","type":"delay","z":"215fc2e682064be3","name":"","pauseType":"delay","timeout":"9","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":620,"y":920,"wires":[["dd3c152f59ea18aa","5910081df2962b72"]]},{"id":"5910081df2962b72","type":"delay","z":"215fc2e682064be3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":760,"y":940,"wires":[["dd3c152f59ea18aa"]]},{"id":"7a28bb1af07d43b6","type":"delay","z":"215fc2e682064be3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":760,"y":1000,"wires":[["ae271789fa36f3b8"]]},{"id":"b787a12a5c544d5a","type":"ha-mqtt-number","z":"215fc2e682064be3","server":"4bbd32ecc75de9a7","device":"7","name":"Meeting Rooms Target Temp Number","config":"{\"icon\":\"phu:thermostat-v2\",\"optimistic\":\"true\",\"retain\":\"false\",\"min\":\"15\",\"max\":\"30\",\"step\":\"1\",\"device_class\":\"temperature\"}","x":230,"y":680,"wires":[["1059effd29970db4"]]},{"id":"1059effd29970db4","type":"change","z":"215fc2e682064be3","name":"set ahu 5 zone 2","rules":[{"t":"set","p":"ahu","pt":"msg","to":"5","tot":"num"},{"t":"set","p":"zone","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":680,"wires":[["5a35c7631a3a92b4"]]},{"id":"3f129ef48e133ed4","type":"ha-mqtt-number","z":"215fc2e682064be3","server":"4bbd32ecc75de9a7","device":"7","name":"AHU 5 Zone 3 Target Temp Number","config":"{\"icon\":\"phu:thermostat-v2\",\"optimistic\":\"true\",\"retain\":\"false\",\"min\":\"15\",\"max\":\"30\",\"step\":\"1\",\"device_class\":\"temperature\"}","x":220,"y":640,"wires":[["23faf13fba599f9c"]]},{"id":"23faf13fba599f9c","type":"change","z":"215fc2e682064be3","name":"set ahu 5 zone 3","rules":[{"t":"set","p":"ahu","pt":"msg","to":"5","tot":"num"},{"t":"set","p":"zone","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":640,"wires":[["5a35c7631a3a92b4"]]},{"id":"304198e1bb67722f","type":"link out","z":"215fc2e682064be3","name":"get west sensor value","mode":"link","links":["c41b57f643d0323b"],"x":1105,"y":400,"wires":[]},{"id":"6637662a238b8bf2","type":"ha-mqtt-switch","z":"215fc2e682064be3","server":"4bbd32ecc75de9a7","device":"7","name":"West Aud Mode","config":"{\"icon\":\"mdi:power\",\"optimistic\":\"true\",\"retain\":\"false\"}","x":200,"y":580,"wires":[["60119f3296913ccd"]]},{"id":"60119f3296913ccd","type":"switch","z":"215fc2e682064be3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":580,"wires":[["1a135459da06545a"],["465e505029a5a9ab"]]},{"id":"1a135459da06545a","type":"change","z":"215fc2e682064be3","name":"turn on West Aud AC","rules":[{"t":"set","p":"payload","pt":"msg","to":"070045010000ffffffff0100000032000100000000000000820200000a09000506000200af003857657374204175646974205765656b6c7900000000171801c204020180002701ffffffff2801ffffffff00000000a401a00544078c0ae40c2c108412cc152418201cc41dc021642360270000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000078560d00070045010000ffffffff0100000032000100000000000000820200000a09000506000200af003857657374204175646974205765656b6c7900000000171801c204020180002701ffffffff2801ffffffff00000000a401a00544078c0ae40c2c108412cc152418201cc41dc021642360270000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000078560d00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":560,"wires":[["52a12e6c6651a89f"]],"info":"creates West Rear Weekly schedule"},{"id":"465e505029a5a9ab","type":"change","z":"215fc2e682064be3","name":"turn off West Aud AC","rules":[{"t":"set","p":"payload","pt":"msg","to":"070025010000ffffffff0100000032000100000000000000820200000a09000506000200af003857657374204175646974205765656b6c7900000000171801c204020180002701ffffffff2801ffffffff00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000078560d00070025010000ffffffff0100000032000100000000000000820200000a09000506000200af003857657374204175646974205765656b6c7900000000171801c204020180002701ffffffff2801ffffffff00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000078560d00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":600,"wires":[["52a12e6c6651a89f"]],"info":"deletes West Rear Weekly schedule"},{"id":"765889b83609cd57","type":"ha-mqtt-switch","z":"215fc2e682064be3","server":"4bbd32ecc75de9a7","device":"7","name":"East Aud Mode","config":"{\"icon\":\"mdi:power\",\"optimistic\":\"true\",\"retain\":\"false\"}","x":200,"y":500,"wires":[["bee6989b563b987f"]]},{"id":"bee6989b563b987f","type":"switch","z":"215fc2e682064be3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":500,"wires":[["32b4a949e3b7d681"],["3bc12b516eb98a81"]]},{"id":"32b4a949e3b7d681","type":"change","z":"215fc2e682064be3","name":"turn on East Aud AC","rules":[{"t":"set","p":"payload","pt":"msg","to":"070085010000ffffffff0100000031000100000000000000820200000a09000506000200af002c45617374204175646974205765656b6c7900000000172601d200020180001b01ffffffff1c01ffffffff00000000a401a0054407c80ae40c6810841208162418201cc41dc021642360270000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000078560d00070085010000ffffffff0100000031000100000000000000820200000a09000506000200af002c45617374204175646974205765656b6c7900000000172601d200020180001b01ffffffff1c01ffffffff00000000a401a0054407c80ae40c6810841208162418201cc41dc021642360270000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000078560d00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":480,"wires":[["52a12e6c6651a89f"]],"info":"creates West Rear Weekly schedule"},{"id":"3bc12b516eb98a81","type":"change","z":"215fc2e682064be3","name":"turn off East Aud AC","rules":[{"t":"set","p":"payload","pt":"msg","to":"07007b010000ffffffff0100000031000100000000000000820200000a09000506000200af002c45617374204175646974205765656b6c7900000000172601d200020180001b01ffffffff1c01ffffffff00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000078560d0007007b010000ffffffff0100000031000100000000000000820200000a09000506000200af002c45617374204175646974205765656b6c7900000000172601d200020180001b01ffffffff1c01ffffffff00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000078560d00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":520,"wires":[["52a12e6c6651a89f"]],"info":"deletes West Rear Weekly schedule"},{"id":"92d13847e603737f","type":"ha-mqtt-switch","z":"215fc2e682064be3","server":"4bbd32ecc75de9a7","device":"7","name":"Centre Aud Mode","config":"{\"icon\":\"mdi:power\",\"optimistic\":\"true\",\"retain\":\"false\"}","x":210,"y":420,"wires":[["ec44251d037b3c0b"]]},{"id":"ec44251d037b3c0b","type":"switch","z":"215fc2e682064be3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":420,"wires":[["ee2af88608cb76d5"],["4e4f8e8b85565be9"]]},{"id":"ee2af88608cb76d5","type":"change","z":"215fc2e682064be3","name":"turn on Centre Aud AC","rules":[{"t":"set","p":"payload","pt":"msg","to":"0700e3010000ffffffff0100000032000100000000000000820200000a09000506000200af002943656e747265204175646974205765656b6c790000171801c008020180002701ffffffff2801ffffffff00000000a401a00544078c0ae40c2c108412cc152418201cc41dc021642360270000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000078560d000700e3010000ffffffff0100000032000100000000000000820200000a09000506000200af002943656e747265204175646974205765656b6c790000171801c008020180002701ffffffff2801ffffffff00000000a401a00544078c0ae40c2c108412cc152418201cc41dc021642360270000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000078560d00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":400,"wires":[["52a12e6c6651a89f"]],"info":"creates West Rear Weekly schedule"},{"id":"4e4f8e8b85565be9","type":"change","z":"215fc2e682064be3","name":"turn off Centre Aud AC","rules":[{"t":"set","p":"payload","pt":"msg","to":"0700c5010000ffffffff0100000032000100000000000000820200000a09000506000200af002943656e747265204175646974205765656b6c790000171801c008020180002701ffffffff2801ffffffff00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000078560d000700c5010000ffffffff0100000032000100000000000000820200000a09000506000200af002943656e747265204175646974205765656b6c790000171801c008020180002701ffffffff2801ffffffff00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000078560d00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":440,"wires":[["52a12e6c6651a89f"]],"info":"deletes West Rear Weekly schedule"},{"id":"86ddcd00f77c2237","type":"ha-mqtt-switch","z":"215fc2e682064be3","server":"4bbd32ecc75de9a7","device":"7","name":"Kitchen Mode","config":"{\"icon\":\"mdi:power\",\"optimistic\":\"true\",\"retain\":\"true\"}","x":200,"y":240,"wires":[["f59943577bab385b"]]},{"id":"df6bb29d4ecbe393","type":"change","z":"215fc2e682064be3","name":"turn off Kitchen AC","rules":[{"t":"set","p":"payload","pt":"msg","to":"070019020000ffffffff0100000031000100000000000000820200000a09000506000200af001d4b69746368656e205765656b6c79000010cd0f0300171101d004020180001b01ffffffff1c01ffffffff00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000078560d00070019020000ffffffff0100000031000100000000000000820200000a09000506000200af001d4b69746368656e205765656b6c79000010cd0f0300171101d004020180001b01ffffffff1c01ffffffff00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000078560d00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":260,"wires":[["52a12e6c6651a89f"]],"info":"deletes West Rear Weekly schedule"},{"id":"40f435edfac80882","type":"change","z":"215fc2e682064be3","name":"turn on Kitchen AC","rules":[{"t":"set","p":"payload","pt":"msg","to":"070023020000ffffffff0100000031000100000000000000820200000a09000506000200af001d4b69746368656e205765656b6c79000010cd0f0300171101d004020180001b01ffffffff1c01ffffffff00000000a401ec0444078c0ae40c2c108412cc1524186c1bc41d0c216423ac260000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000078560d00070023020000ffffffff0100000031000100000000000000820200000a09000506000200af001d4b69746368656e205765656b6c79000010cd0f0300171101d004020180001b01ffffffff1c01ffffffff00000000a401ec0444078c0ae40c2c108412cc1524186c1bc41d0c216423ac260000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000078560d00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":220,"wires":[["52a12e6c6651a89f"]],"info":"creates West Rear Weekly schedule"},{"id":"f59943577bab385b","type":"switch","z":"215fc2e682064be3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":240,"wires":[["40f435edfac80882"],["df6bb29d4ecbe393"]]},{"id":"ddf7850c83e6c874","type":"ha-mqtt-number","z":"215fc2e682064be3","server":"4bbd32ecc75de9a7","device":"7","name":"Outsource Training Room Target Temp","config":"{\"icon\":\"phu:thermostat-v2\",\"optimistic\":\"true\",\"retain\":\"true\",\"min\":\"18\",\"max\":\"25\",\"step\":\"1\",\"device_class\":\"temperature\"}","x":210,"y":1040,"wires":[["b43dbbb741143a49"]]},{"id":"b43dbbb741143a49","type":"change","z":"215fc2e682064be3","name":"set ahu 3","rules":[{"t":"set","p":"ahu","pt":"msg","to":"3","tot":"num"},{"t":"set","p":"zone","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1040,"wires":[["5a35c7631a3a92b4"]]},{"id":"be2f264d50dab93d","type":"ha-mqtt-switch","z":"215fc2e682064be3","server":"4bbd32ecc75de9a7","device":"7","name":"Outsource Training Room Mode","config":"{\"icon\":\"mdi:power\",\"optimistic\":\"true\",\"retain\":\"true\"}","x":170,"y":140,"wires":[["3aa8f2e3bcc599d7"]]},{"id":"3aa8f2e3bcc599d7","type":"switch","z":"215fc2e682064be3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":140,"wires":[["a3b97b31451c5d96"],["4f1fd61d3192bbe0"]]},{"id":"a3b97b31451c5d96","type":"change","z":"215fc2e682064be3","name":"turn on","rules":[{"t":"set","p":"payload","pt":"msg","to":"070095030000ffffffff0100000034000100000000000000820200000a09000506000200af001b47726f756e642045617374205765656b6c79000000171801bd00020180001901ffffffff1a01ffffffff00000000a40184030807d809a80c780f48121815e817b81a881d58202823f8250000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000078560d00070095030000ffffffff0100000034000100000000000000820200000a09000506000200af001b47726f756e642045617374205765656b6c79000000171801bd00020180001901ffffffff1a01ffffffff00000000a40184030807d809a80c780f48121815e817b81a881d58202823f8250000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000078560d00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":120,"wires":[["52a12e6c6651a89f"]],"info":"creates West Rear Weekly schedule"},{"id":"4f1fd61d3192bbe0","type":"change","z":"215fc2e682064be3","name":"turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"070081030000ffffffff0100000034000100000000000000820200000a09000506000200af001b47726f756e642045617374205765656b6c79000000171801bd00020180001901ffffffff1a01ffffffff00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000078560d00070081030000ffffffff0100000034000100000000000000820200000a09000506000200af001b47726f756e642045617374205765656b6c79000000171801bd00020180001901ffffffff1a01ffffffff00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000078560d00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":160,"wires":[["52a12e6c6651a89f"]],"info":"deletes West Rear Weekly schedule"},{"id":"4bbd32ecc75de9a7","type":"mqtt-broker","name":"","broker":"localhost","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"7","type":"ha-mqtt-device","name":"Innotech Aircon","config":"{\"manufacturer\":\"Innotech\",\"model\":\"iComm\",\"hw_version\":\"Genesis II\",\"name\":\"Innotech Aircon\",\"sw_version\":\"2.38\",\"configuration_url\":\"http://192.168.1.10:8080/iComm/Connection\"}","retain":true},{"id":"7109f494109b9266","type":"global-config","env":[],"modules":{"node-red-contrib-string-to-hex":"1.0.3","node-red-contrib-ha-mqtt":"1.2.15"}}]
